<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <connectionStrings>
    <add name="strConn" connectionString="Data Source=PCDEV\PCDEV;Initial Catalog=RENIEC;User ID=sa;Password=un1v3rs0"/>    
  </connectionStrings>

  <system.serviceModel>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"></serviceHostingEnvironment>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="Students" helpEnabled="true" automaticFormatSelectionEnabled="false"></standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>


  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
